<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppAndev</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!-- notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    @{await Html.RenderPartialAsync("_menu");}
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AppAndev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/js/meanmenu/jquery.meanmenu.js"></script>
    <script src="~/js/ViewJs/MenuActionView.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
